.card {
  padding: 16px;
  background-color: var(--lightAccentColor);
  border-radius: 16px;
}

.image {
  border-radius: 16px;
}

.name {
  font-size: 1.5em;
  font-weight: 500;
  margin: 8px 0;
}

.price {
  font-size: 1.2em;
  font-weight: 300;
  margin: 8px 0 0 0;
}